@import "./../../css/variables.scss";

.heading {
  position: relative;
  height: 34rem;
  margin: 2rem auto;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
    border-radius: 10px;
  }

  &__content {
    border-radius: 10px;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    white-space: nowrap;
    padding: 2rem;
    background-color: $color-primary-transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 7rem;
    margin-bottom: 1.8rem;
    letter-spacing: 1.6rem;
    color: $color-secondary;
  }

  &__quote-top {
    color: $color-secondary;
  }

  &__quote-bottom {
    margin-bottom: 3rem;
    color: $color-secondary;
  }
}
