.navbar {
    position: relative;
    height: 30vh;
    width: 90vw;
    margin: 3rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        filter: brightness(50%);
    }

    &__heading {
        color: #fff;
    }

    &__link-container {
        font-size: 3rem;
        letter-spacing: .3rem;
        font-weight: 400;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }

    &__l1 {
        order: 2;
    }

    &__l2 {
        order: 3;
    }

    &__l3 {
        order: -1;
    }

    &__l4 {
        order: 1;
    }
}