@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap");

$color-primary: #faedcd;

$color-secondary: #7c5027;
$color-secondary-light: #d4a373;

$font-heading: "Courgette", cursive;
$font-text: "Montserrat", sans-serif;
