@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap");

$color-primary: #faedcd;
$color-primary-transparent: rgba(250, 237, 205, 0.75);

$color-secondary: #7c5027;
$color-secondary-light: #d4a373;

$color-tertiary: #8fa253;
$color-tertiary-light: #bcc88e;

$font-heading: "Courgette", cursive;
$font-text: "Montserrat", sans-serif;
